body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    color: white;
    background-color: orange;
    text-align: center;
    font-weight: 800;
}

li {
    color: orange
}

.recipe {
    color: grey;
    text-decoration: none;
    font-weight: 700;
}