body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
}

h1 {
    color: white;
    background-color: orange;
    text-align: center;
    font-weight: 800;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

ul {
    list-style: none;
}

ul li::before {
    content: "\2022";
    color: orange;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.recipe,
.home-button a {
    color: black;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
}

.home-button a {
    color: white;
}

.home-button {
    background-color: orange;
}