body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
}

h1 {
    color: white;
    background-color: orange;
    text-align: center;
    font-weight: 800;
    padding: 16px;
    margin-top: 0;
}

.page-container {
    height: auto;
    width: 1200px;
    margin: 0 auto;
}

.page-container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.page-container h2 {
    text-align: center;
    font-size: 30px;
}

.section {
    border: 2px solid orange;
    padding: 8px;
    margin: 24px 0;
}

.section h3 {
    margin-top: 8px;
    text-align: center;
    font-size: 24px;
}

.section p {
    padding: 0px 8px;
}

.section ul {
    list-style: none;
}

.section ul li::before {
    content: "\2022";
    color: orange;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.section li {
    padding-left: 6px;
}

.section ul li {
    margin-top: 8px;
    margin-bottom: 8px;
}

.section ol li {
    margin-top: 16px;
    margin-bottom: 16px;
}

.home-button,
.recipes button {
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    font-weight: bold;
}

.home-button {
    font-size: 14px;
    padding: 8px 16px;
}

.recipes {
    margin-top: 24px;
}

.recipes button {
    padding: 12px 24px;
    font-size: 18px;
    width: 75%;
    display: block;
    margin: 0 auto;
}

.recipes button:not(:last-child) {
    border-bottom: none;
}

.recipes button:hover,
.home-button:hover {
    background-color: orange;
    color: white;
}